{% extends 'layout.html' %}


{% block body %}
<h1> Welcome to your College page {{fname}}! </h1>

<b>Currently Selected Colleges</b>
{% if collegenamelist %}
	{% for college in collegenamelist %}
		{{college}}<br>
		    {% endfor %}
	{% else %}
You have added no colleges
{% endif %}
<br>
<br>
<b>Add a new college </b>
<font size="2">All selections optional</font>
<form action="/addcolleges" method="post" class="pure-form pure-form-aligned">
<fieldset>
<label for="location">Location</label>
  <input id="location" name="location" type="text" placeholder="Boston"><br>
<label for="gpa">GPA cut off</label>
  <input id="gpa" name="gpa" type="text" placeholder="65"><br><br>
<b>Size</b><br>
<input type="radio" name="size" value="small">Small<br>
<input type="radio" name="size" value="medium">Medium<br>
<input type="radio" name="size" value="large">Large<br>
<b>Type</b><br>
<input type="radio" name="size" value="private">Private<br>
<input type="radio" name="size" value="state">State<br>
</fieldset>



{% endblock %}
