{% extends 'layout.html' %}


{% block body %}
<h1>Personal Information</h1>
<br><br>
<form action="/personal" method="post" class="pure-form pure-form-aligned">
<fieldset>
Name: {{fname}} {{lname}} <br>
{% if change %}
<label for="fname">First Name</label>
  <input id="fname" name="fname" type="text"
  placeholder="First Name">
<br>
<label for="lname">Last Name</label>
  <input id="lname" name="lname" type="text" placeholder="Last Name"><br>
<button type="submit" name="submit" value="name" class="pure-button">submit</button>
     {% else %}
<font size="2"><a href="/name">Change</a></font>
     {% endif %}
<br><br>
Age:
{% if gpa %}
{{gpa}}
{% else %}
NA
{% endif %}<br>
<font size="2"<br><a href="/age">Change</a></font>
<br><br>
GPA:
{% if gpa %}
{{gpa}}
{% else %}
NA
{% endif %}<br>
<font size="2"<br><a href="/gpa">Change</a></font>
</fieldset>


{% endblock %}
